<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>DIN_Next Rounded_Bold.ttf</string>
		<string>DIN_Next_Medium.ttf</string>
		<string>DIN_Next_Rounded_Regular.ttf</string>
		<string>Feather_Bold.ttf</string>
	</array>
</dict>
</plist>
